@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 396px;
    height: 832px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 1.0625em;
    margin-top: 50px;
    height: 21px;
    align-self: center
  }
  .style10,
  .style7 {
    background-color: #fff
  }
  .style7 {
    margin-left: 45px;
    margin-top: 37px;
    width: 0;
    height: 0
  }
  .style10 {
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: flex;
    margin-top: 84px;
    width: 189px;
    height: 184px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style11 {
    background-color: #000;
    margin-top: 21px;
    width: 153px;
    height: 153px
  }
  .style9 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: .9375em;
    margin-left: 43px;
    margin-top: 40px;
    height: 19px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 14px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13,
  .style18 {
    color: #fff;
    font-size: .9375em;
    height: 19px
  }
  .style13 {
    font-weight: 300;
    margin-left: 19px;
    font-family: sfuidisplay,serif
  }
  .style18 {
    font-family: sfuitext,serif;
    margin-top: 10px;
    align-self: center
  }
  .style15 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 11px;
    width: 310px;
    height: 40px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style16 {
    color: #36454f;
    font-family: sfuitext,serif;
    font-size: .9375em;
    height: 19px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 811px;
    height: 1704px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 2.176em;
    margin-top: 102px;
    height: 43px;
    align-self: center
  }
  .style10,
  .style7 {
    background-color: #fff
  }
  .style7 {
    margin-left: 92px;
    margin-top: 76px;
    width: 0;
    height: 0
  }
  .style10 {
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: flex;
    margin-top: 172px;
    width: 387px;
    height: 377px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style11 {
    background-color: #000;
    margin-top: 43px;
    width: 313px;
    height: 313px
  }
  .style9 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 1.92em;
    margin-left: 88px;
    margin-top: 82px;
    height: 39px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 29px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13,
  .style18 {
    color: #fff;
    font-size: 1.92em;
    height: 39px
  }
  .style13 {
    font-weight: 300;
    margin-left: 39px;
    font-family: sfuidisplay,serif
  }
  .style18 {
    font-family: sfuitext,serif;
    margin-top: 20px;
    align-self: center
  }
  .style15 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 23px;
    width: 635px;
    height: 82px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style16 {
    color: #36454f;
    font-family: sfuitext,serif;
    font-size: 1.92em;
    height: 39px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 972px;
    height: 2041px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 2.6066666666666665em;
    margin-top: 123px;
    height: 52px;
    align-self: center
  }
  .style10,
  .style7 {
    background-color: #fff
  }
  .style7 {
    margin-left: 110px;
    margin-top: 91px;
    width: 0;
    height: 0
  }
  .style10 {
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: flex;
    margin-top: 206px;
    width: 464px;
    height: 451px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style11 {
    background-color: #000;
    margin-top: 52px;
    width: 375px;
    height: 375px
  }
  .style9 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 2.3em;
    margin-left: 105px;
    margin-top: 98px;
    height: 47px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 34px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13,
  .style18 {
    color: #fff;
    font-size: 2.3em;
    height: 47px
  }
  .style13 {
    font-weight: 300;
    margin-left: 47px;
    font-family: sfuidisplay,serif
  }
  .style18 {
    font-family: sfuitext,serif;
    margin-top: 25px;
    align-self: center
  }
  .style15 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 27px;
    width: 761px;
    height: 98px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style16 {
    color: #36454f;
    font-family: sfuitext,serif;
    font-size: 2.3em;
    height: 47px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1267px;
    height: 2662px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 3.4000000000000004em;
    margin-top: 160px;
    height: 67px;
    align-self: center
  }
  .style10,
  .style7 {
    background-color: #fff
  }
  .style7 {
    margin-left: 144px;
    margin-top: 118px;
    width: 0;
    height: 0
  }
  .style10 {
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: flex;
    margin-top: 269px;
    width: 605px;
    height: 589px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style11 {
    background-color: #000;
    margin-top: 67px;
    width: 490px;
    height: 490px
  }
  .style9 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 3em;
    margin-left: 138px;
    margin-top: 128px;
    height: 61px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 45px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13,
  .style18 {
    color: #fff;
    font-size: 3em;
    height: 61px
  }
  .style13 {
    font-weight: 300;
    margin-left: 61px;
    font-family: sfuidisplay,serif
  }
  .style18 {
    font-family: sfuitext,serif;
    margin-top: 32px;
    align-self: center
  }
  .style15 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 35px;
    width: 992px;
    height: 128px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style16 {
    color: #36454f;
    font-family: sfuitext,serif;
    font-size: 3em;
    height: 61px
  }
}